.list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.edit__button {
  padding: 0.5rem;
}
.delete__button {
  cursor: pointer;
  border: none;
  background: hwb(0 6% 2%);
  padding: 0.5rem;
}
p {
  font-size: 2.5rem;
}
.container__button {
  display: grid;
  margin-left: 1.5rem;
  place-items: center;
  justify-items: center;
}
.item {
  width: 200px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
  text-align: center;
  word-wrap: break-word;
}
